<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>metadata</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/global.css">
    <link rel="stylesheet" href="/static/css/bootstrap-table.css">
    <link rel="stylesheet" href="/static/css/bootstrap-table.min.css">
    <link rel="stylesheet" href="/static/css/select2-bootstrap.css">
    <link rel="stylesheet" href="/static/css/select2.min.css">
    <link rel= "stylesheet" media="all" href= "{{ url_for('static',filename='css/bootstrap-datetimepicker.min.css') }}">

    <script src="/static/js/jquery-2.1.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="/static/js/tableExport.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap_table.js"></script>
    <script src="/static/js/common.js"></script>
    <script src="/static/js/daterangepicker.min.js"></script>
    <script src="/static/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/static/js/select2.min.js"></script>
</head>
<body>
    {% include 'header.html' %}
    <div class="container-fluid">
        <div>
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab">Leave Management</a></li>
                
            </ul>
        </div>
        <br>
        <div>
            <div id="toolbar">
                <button class="btn btn-primary" data-toggle="modal" data-target="#add_leave_management_modal">Add Leave</button>
            </div>
            <table class="table"
                data-toggle="table"
                data-search="true"
                data-toolbar="#toolbar"
                data-show-columns="true"
                data-url=""
            >
                <thead>
                    <tr>
                        <th data-field="id">ID</th>
                        <th data-field="leave_type">Leave Type</th>
                        <th data-field="start_date">Start Date</th>
                        <th data-field="end_date">End Date</th>
                        <th data-field="leave_duration">Leave Duration</th>
                        <th data-field="leave_duration">Leave Status</th>
                    </tr>
                </thead>
            </table>
        </div>

    </div>
    <div class="modal fade" id="add_leave_management_modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="/add_leave_management" method="POST">
                    <div class="modal-header">
                        <h3 class="modal-title">Apply Leave</h3>
                    </div>

                    <div class="modal-body">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2 control-label">
                                    <label for="type"> Leave Type</label>
                                </div>
                                <div class="col-md-10">
                                    <div class="input-group">
                                        <select class="form-control" name="type" id="type">
                                            <option value="">Plese Select Leave Type</option>
                                            <option value="start_date">Start Date</option>
                                            <option value="end_date">End Date</option>
                                            <option value="duration">Duratio</option>
                                            <option value="leave_status">Leave Status</option>
                                        </select>
                                    </div>
                                </div>
                                
                            </div>
            
                            <br>
                            <div class="row">
                                <div class="col-md-2 control-label">
                                    <label for="start date">Start Date</label>
                                    
                                </div>
                                <div class="col-md-10">
                                    <div class="input-group input-daterange">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>

                                    
                             </div>

                            <br>    
                            <div class="row">
                                <div class="col-md-2 control-label">
                                    <label for="end_date">End Date</label>
                                    
                                </div>
                                <div class="col-md-10">
                                    <div class="input-group input-daterange">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>

                                <br> 

                                </div>

                            <br>

                            <div class="row">
                                <div class="col-md-2 control-label">
                                    <label for="duration">Duration</label>
                                </div>
                                <div class="col-md-10">
                                    <div class="input-group">
                                        <input type="text" id="duration" name="durationt" class="form-control">
                                    </div>
                                </div>
                              
                            </div>

                            <br>

                            <div class="row">
                                <div class="col-md-2 control-label">
                                    <label for="leave_status">Leave Status</label>
                                </div>
                                <div class="col-md-10">
                                    <div class="input-group">
                                        <input type="text" id="leave_status" name="leave_status" class="form-control">
                                    </div>
                                </div>
                           
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Apply</button>
                        <button type="submit" class="btn btn-primary">submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% include 'footer.html' %}
</body>
</html>