<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <style>
        input{
            border-style: solid;
            border-width: 20px 5px; 
            padding: 10px;
            box-sizing: border-box;
            border: 2px solid black;
            border-radius: 5px;
        }
        button{
            background-color: rgb(161, 93, 26);
            color: white;
            padding: 10px;
            width: 25%;
            border: 2px solid black;
            border-radius: 5px;
        }

    </style>
</head>
<body 
    

 style="background-color: rgb(156, 158, 214); margin-left: 25%;">
    <div style="width: 50%; background-color: rgb(231, 188, 188);text-align: center;">
        <h1></h1>

        <label for="user_name">User Name : </label>
        <input type="text" name="user_name" placeholder="Enter User Name">
        <br><br>
        <label for="password_field">Password : </label>
        <input type="password" name="password_field" placeholder="Enter your password">
        <br><br>
        <button>Cancel</button>
        <button class="submit_button">Submit</button>
        
        <br><br>
    </div>
</body>
</html>
      </h1>
</body>
</html>