<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Employee</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/global.css">
    <link rel="stylesheet" href="/static/css/bootstrap-table.css">
    <link rel="stylesheet" href="/static/css/bootstrap-table.min.css">
    <link rel="stylesheet" href="/static/css/select2-bootstrap.css">
    <link rel="stylesheet" href="/static/css/select2.min.css">
    <link rel= "stylesheet" media="all" href= "{{ url_for('static',filename='css/bootstrap-datetimepicker.min.css') }}">

    <script src="/static/js/jquery-2.1.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="/static/js/tableExport.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap_table.js"></script>
    <script src="/static/js/common.js"></script>
    <script src="/static/js/daterangepicker.min.js"></script>
    <script src="/static/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/static/js/select2.min.js"></script>
</head>
<body>
    

    {% include 'header.html' %}
    <div class="container-fluid">
        <div>
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#manage_employee">Employee Management</a></li>
                
            </ul>
        </div>
        <br>
        <div>
            <div id="toolbar">
                <button class="btn btn-primary" data-toggle="modal" data-target="#add_employee">Add Employee</button>
            </div>
            <table class="table"
                data-toggle="table"
                data-search="true"
                data-toolbar="#toolbar"
                data-show-columns="true"
                data-url="/retrive_user_details"
            >
                <thead>
                    <tr>
                        <th data-field="employee_id">ID</th>
                        <th data-field="first_name">First Name</th>
                        <th data-field="middle_name">Middle Name</th>
                        <th data-field="last_name">Last Name</th>
                        <th data-field="mobile_number">Mobile Number</th>
                        <th data-field="city">City</th>
                        <th data-field="date_of_birth">Date Of Birth</th>
                        <th data-field="blood_group">Blood Group</th>
                        <th data-field="gender">Gender</th>
                        <th data-field="marital_status">Marital Status</th>
                        <th data-field="highest_qualification_specialization">Highest Qualification(Specialization)</th>
                        <th data-field="percentage_cgpa">Percentage/CGPA</th>
                        <th data-field="year_of_passing">Year of passing</th>
                        

                        <th data-field="email_id">Email ID</th>
                        <th data-field="doj">Date Of Joining</th>
                        <th data-field="department">Department</th>
                        <th data-field="job_title">Job Title</th>
                        <th data-field="employment_type">Employment Type</th>
                        <th data-field="employment_status">Employment Status</th>
                        <th data-field="salary">Salary</th>
                        <th data-field="afi">Areas for improvement</th>
                        <th data-field="achievements">Achievements</th>
                        <th data-field="workshop">Workshop attended</th>
                        <th data-field="certifications">Certifications</th>
                        <th data-field="skills">Skills acquired</th>
                
                    </tr>
                </thead>
            </table>
        </div>

    </div>
    <div class="modal fade" id="add_employee">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Add Employee</h3>
                </div>
                <form action="/add_employee" method="POST">
                <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                            
                                <div class="form-group">
                                    <label for="fname">First Name</label>
                                    <input type="text" class="form-control" id="fname" name="fname" required>
                                    <label for="mname">Middle Name</label>
                                    <input type="text" class="form-control" id="mname" name="mname">
                                    <label for="lname">Last Name</label>
                                    <input type="text" class="form-control" id="lname" name="lname" required>
                                    <label for="mobile_no">Mobile Number</label>
                                    <input type="text" class="form-control" id="mobile_no" name="mobile_no" required>
                                    
                                    <label for="city">City</label>
                                    <select class="form-control" id="city" name="city">
                                        <option value="">Please select City</option>
                                        {% for city in cities %}
                                        <option value="{{city.element}}">{{city.element}}</option>
                                        {% endfor %}
                                        
                                    </select>
                                    <label for="dob">Date Of Birth</label>
                                    <input type="date" class="form-control" id="dob" name="dob" required>
                                    <label for="bloodgroup">Blood Group</label>
                                    <select class="form-control" id="bloodgroup" name="bloodgroup">
                                        <option value="">Please select Blood Group</option>
                                        {% for bloodgroup in bloodgroup %}
                                        <option value="{{bloodgroup.element}}">{{bloodgroup.element}}</option>
                                        {% endfor %}
                                    </select>
                                    <label for="gender">Gender</label>
                                    <select class="form-control" id="gender" name="gender">
                                        <option value="">Select</option>
                                        <option value="male">Male</option>
                                        <option value="female">Female</option>
                                        <option value="other">Other</option>
                                    </select>
                                    <label for="marital_status">Marital Status</label>
                                    <select class="form-control" id="marital_status" name="marital_status">
                                        <option value="">Select</option>
                                        <option value="single">Single</option>
                                        <option value="married">Married</option>
                                        <option value="divorced">Divorced</option>
                                        <option value="widowed">Widowed</option>
                                    </select>
                                    <label for="qualification">Highest Qualification(Specialization)</label>
                                    <input type="text" class="form-control" id="qualification" name="qualification" required>
                                    <label for="percentage">Percentage/CGPA</label>
                                    <input type="text" class="form-control" id="percentage" name="percentage" required>
                                    <label for="yop">Year of passing</label>
                                    <input type="text" class="form-control" id="yop" name="yop">
                                    
                                </div>
                            
                            </div>

                            <div class="col-md-6">
                            
                                <div class="form-group">
                                    <label for="employee_email">Employee Email</label>
                                    <input type="email" class="form-control" id="email_id" name="email_id" required>
                                    <label for="doj">Date Of Joining</label>
                                    <input type="date" class="form-control" id="doj" name="doj" required>

                                    <label for="department">Department</label>
                                    <select class="form-control" id="department" name="department">
                                        <option value="">Please select Department</option>
                                        {% for department in departments %}
                                        <option value="{{department.element}}">{{department.element}}</option>
                                        {% endfor %}
                                    </select>
                                    
                                    <label for="job_title">Job Title</label>
                                    <select class="form-control" id="job_title" name="job_title">
                                        <option value="">Please select Job Title</option>
                                        {% for role in role %}
                                        <option value="{{role.element}}">{{role.element}}</option>
                                        {% endfor %}
                                    </select>
                                    <label for="employment_type">Employment Type</label>
                                    <select class="form-control" id="employment_type" name="employment_type" required>
                                        <option value="">Select</option>
                                        <option value="part_time">Part Time</option>
                                        <option value="full_time">Full Time</option>
                                        <option value="internship">Internship</option>
                                        <option value="contractual">Contractual</option>
                                    </select>
                                    <label for="employment_status">Employment status</label>
                                    <select class="form-control" id="employment_status" name="employment_status" required>
                                        <option value="active" selected>Active</option>
                                        
                                    </select>
                                    <label for="salary">Salary</label>
                                    <input type="text" class="form-control" id="salary" name="salary" required>
                                    <label for="afi">Areas for improvement</label>
                                    <input type="text" class="form-control" id="afi" name="afi">
                                    <label for="achievements">Achievements</label>
                                    <input type="text" class="form-control" id="achievements" name="achievements">
                                    <label for="workshop">Workshop attended</label>
                                    <input type="text" class="form-control" id="workshop" name="workshop">
                                    <label for="certifications">Certifications</label>
                                    <input type="text" class="form-control" id="certifications" name="certifications" required>
                                    <label for="skills">Skills acquired</label>
                                    <input type="text" class="form-control" id="skills" name="skills" required>
                                </div>
                            
                            </div>
                        </div>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
            </div>
        </div>
    </div>
    {% include 'footer.html' %}
</body>


</html>