<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>metadata</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-table.css">
    <link rel="stylesheet" href="/static/css/bootstrap-table.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/static/js/tableExport.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap_table.js"></script>
</head>
<body>
    {% include 'header.html' %}
    <div class="container-fluid">
        <div>
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab">Overall Leave</a></li>
                
            </ul>
        </div>
        <br>
        <div>
            <div id="toolbar">
                <button class="btn btn-primary" data-toggle="modal" data-target="#add_metadata_modal">Add Overall Leave</button>
            </div>
            <table class="table"
                data-toggle="table"
                data-search="true"
                data-toolbar="#toolbar"
                data-show-columns="true"
                data-url="/retrive_user_details"
            >
                <thead>
                    <tr>
                        <th data-field="id"> Employee ID</th>
                        <th data-field="leave_type">Employee Name</th>
                        <th data-field="start_date">Earn Leave</th>
                        <th data-field="end_date">casual Leave</th>
                        <th data-field="leave_duration">Sick Leave</th>
                        <th data-field="leave_duration">Maternity Leave</th>
                        <th data-field="leave_duration">Paternity Leave</th>
                    </tr>
                </thead>
            </table>
        </div>

    </div>
    <div class="modal fade" id="add_metadata_modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="/add_metadata" method="POST">
                    <div class="modal-header">
                        <h3 class="modal-title">Add Leave</h3>
                    </div>

                    <div class="modal-body">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2 control-label">
                                    <label for="type">Employee Name</label>
                                </div>
                                <div class="col-md-10">
                                    <div class="input-group">
                                        <input type="text" id="duration" name="durationt" class="form-control">   
                                    </div>
                                </div>
                                
                            </div>
            

                            <div class="row">
                                <div class="col-md-2 control-label">
                                    <label for="start date">Earn Leave</label>
                                    
                                </div>
                                <div class="col-md-10">
                                    <div class="input-group">
                                        <input type="text" id="duration" name="durationt" class="form-control">
                                    </div>
                                </div>
                         
                                    
                            </div>
                            <div class="row">
                                <div class="col-md-2 control-label">
                                    <label for="start date">Casual Leave</label>
                                    
                                </div>
                                <div class="col-md-10">
                                    <div class="input-group">
                                        <input type="text" id="duration" name="durationt" class="form-control">
                                    </div>
                                </div>
                                
                                
                            </div>
                            <div class="row">
                                <div class="col-md-2 control-label">
                                    <label for="duration">Maternity Leave</label>
                                </div>
                                <div class="col-md-10">
                                    <div class="input-group">
                                        <input type="text" id="duration" name="durationt" class="form-control">
                                    </div>
                                </div>
                              
                            </div>

                        

                            <div class="row">
                                <div class="col-md-2 control-label">
                                    <label for="duration">Paternity Leave</label>
                                </div>
                                <div class="col-md-10">
                                    <div class="input-group">
                                        <input type="text" id="" name="durationt" class="form-control">
                                    </div>
                                </div>
                           
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Add</button>
                        <button type="submit" class="btn btn-primary">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% include 'footer.html' %}
</body>
</html>