<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>metadata</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/global.css">
    <link rel="stylesheet" href="/static/css/bootstrap-table.css">
    <link rel="stylesheet" href="/static/css/bootstrap-table.min.css">
    <link rel="stylesheet" href="/static/css/select2-bootstrap.css">
    <link rel="stylesheet" href="/static/css/select2.min.css">
    <link rel= "stylesheet" media="all" href= "{{ url_for('static',filename='css/bootstrap-datetimepicker.min.css') }}">

    <script src="/static/js/jquery-2.1.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="/static/js/tableExport.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap_table.js"></script>
    <script src="/static/js/common.js"></script>
    <script src="/static/js/daterangepicker.min.js"></script>
    <script src="/static/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/static/js/select2.min.js"></script>

    <script>
        function checkforblank() {
                        
            if (document.getElementById('employee_name').value == "") {
                alert("please select employee name")
                document.getElementById('employee_name').style.borderColor = "red";
                return false;
                }

            else if (document.getElementById('earn_leave').value == "") {
                alert("please select earn leave")
                document.getElementById('earn_leave').style.borderColor = "red";
                return false;
                }

            else if (document.getElementById('casual_leave').value == "") {
                alert("please select casual leave")
                document.getElementById('casual_leave').style.borderColor = "red";
                return false;
                }
            
            else if (document.getElementById('maternity_leave').value == "") {
                alert("please select maternity leave")
                document.getElementById('maternity_leave').style.borderColor = "red";
                return false;
                }

            else if (document.getElementById('paternity_leave').value == "") {
                alert("please select paternity leave")
                document.getElementById('paternity_leave').style.borderColor = "red";
                return false;
                }
            }
    </script>
</head>
<body>
    {% include 'header.html' %}
    <div class="container-fluid">
        <div>
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#overallleave_management">Overall Leave</a></li>
                
            </ul>
        </div>
        <br>
        <div>
            <div id="toolbar">
                <button class="btn btn-primary" data-toggle="modal" data-target="#add_overallleave_management_modal">Add Overall Leave</button>
            </div>
            <table class="table"
                data-toggle="table"
                data-search="true"
                data-toolbar="#toolbar"
                data-show-columns="true"
                data-url="/retrive_overallleave_management"
            >
                <thead>
                    <tr>
                        <th data-field="id"> Employee ID</th>
                        <th data-field="employee_name">Employee Name</th>
                        <th data-field="earn_leave">Earn Leave</th>
                        <th data-field="casual_leave">casual Leave</th>
                        <th data-field="sick_leave">Sick Leave</th>
                        <th data-field="meternity_leave">Meternity Leave</th>
                        <th data-field="peternity_leave">Peternity Leave</th>
                    </tr>
                </thead>
            </table>
        </div>

    </div>
    <div class="modal fade" id="add_overallleave_management_modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="/add_overallleave_managenent" method="POST" onsubmit = "return checkforblank()">
                    <div class="modal-header">
                        <h3 class="modal-title">Add Leave</h3>
                    </div>

                    <div class="modal-body">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4 control-label">
                                    <label for="type">Employee Name</label>
                                </div>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <select class="form-control" name="employee_name" id="employee_name"> 
                                            <option value="">Select Employee</option>
                                            <option value="Pranita">Pranita</option>
                                            <option value="Sujata">Sujata</option>
                                            <option value="Akshta">Akshta</option>
                                        </select>
                                    </div>
                                </div>
                                
                            </div>
            
                            <br>
                            <div class="row">
                                <div class="col-md-4 control-label">
                                    <label for="earn_leave">Earn Leave</label>
                                    
                                </div>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <input type="text" id="earn_leave" name="earn_leave" class="form-control">
                                    </div>
                                </div>
                         
                                    
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-4 control-label">
                                    <label for="casual_leave">Casual Leave</label>
                                    
                                </div>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <input type="text" id="casual_leave" name="casual_leave" class="form-control">
                                    </div>
                                </div>
                                
                                
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-4 control-label">
                                    <label for="meternity_leave">Meternity Leave</label>
                                </div>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <input type="text" id="meternity_leave" name="meternity_leave" class="form-control">
                                    </div>
                                </div>
                              
                            </div>

                            <br>

                            <div class="row">
                                <div class="col-md-4 control-label">
                                    <label for="paternity_leave">Paternity Leave</label>
                                </div>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <input type="text" id="peternity_leave" name="peternity_leave" class="form-control">
                                    </div>
                                </div>
                           
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% include 'footer.html' %}
</body>
</html>